@import 'src/styles/_variables.scss';

.developer {
    display: flex;
    justify-content: center;
    .inner {
        transition: .2s;
        &:hover {
            background-color: $gray-100;
        }
        max-width: 200px;
        padding: 15px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        .img {
            width: 100%;
            margin-bottom: 15px;
            img {
                border-radius: 10px;
               width: inherit;
               height: inherit;
            }
        }
        .title {
            margin-bottom: 10px
        }
        .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .rate {
                svg {
                    margin-right: 3px;
                    color: $gray-700;
                }
                color: $gray-700;
                display: flex;
                align-items: center;
            }
            .works {
                color: $gray-600;
                span {
                    color: $gray-600;
                }
            }
        }
    }
}